@model EMPLOYEE_MANAGEMENT.Models.AccountDetails
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback">
    <link href="~/Content/resources/fa/css/all.min.css" rel="stylesheet" />
    <link href="~/Content/resources/dist/css/staticcss.css" rel="stylesheet" />

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/Content/resources/jquery/jquery.passwordRequirements.js"></script>
    <script type="text/javascript">


        $(document).ready(function () {


            $('.pr-password').passwordRequirements({});

            var image = @Html.Raw(Json.Encode(ViewBag.UserImage));

            console.log(image);

            var domain = document.location.origin;
            var src = domain + '//Content//resources//dist//img//' + image;
            $("#userimage").attr("src", src);

             if (@Html.Raw(Json.Encode(TempData["passwordValidationmessage"]))!= null)
               {

                    swal({
                        title: "Error!",
                        text: @Html.Raw(Json.Encode(TempData["passwordValidationmessage"])),
                        icon: "error",
                    });

                }

         if (@Html.Raw(Json.Encode(TempData["passwordValidationsuccessmessage"]))!= null)
         {

            swal({
                title: @Html.Raw(Json.Encode(TempData["passwordValidationsuccessmessage"])),
                icon: "success",
            });

         }

        });


        function VerifyPasswordStrength() {

            let flag = true;

            let newpassword = $("#newpassword").val().trim().replace(" ", "");

            const passwordformat = /(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?])[a-zA-Z\d!@@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]{8,}/g;

            if (!passwordformat.test(newpassword)) {
                flag = false;
            }


            return flag;
        }


        function ValidateField() {
            if (VerifyPasswordStrength()) {
                return true;
            } else {
                return false;
            }
        }
    </script>

</head>
<body class="hold-transition lockscreen">
    <div class="lockscreen-wrapper">
        <div class="lockscreen-logo">
        </div>
        <div class="lockscreen-name" id="username">@ViewBag.UserName</div>
        <div class="lockscreen-item">
            <div class="lockscreen-image">
                <img src="" alt="User Image" id="userimage" />
            </div>
            @using (Html.BeginForm("ResetPasswordAtFirstLogin", "Login", FormMethod.Post))
            {
                <form class="lockscreen-credentials">
                    <div class="input-group" style="width: 222px; margin-left: 67px;">
                        @Html.TextBoxFor(model => model.Newpassword, new { @type = "password", @class = "form-control pr-password", @placeholder = "new password", @id="newpassword"})
                    </div>
                    <div class="input-group" style="width: 222px; margin-left: 67px;">
                        @Html.TextBoxFor(model => model.ConfirmedPassword, new { @type = "password", @class = "form-control pr-password", @placeholder = "retype password" })
                        <div class="input-group-append">
                            <button type="submit" onclick="return ValidateField()" class="btn">
                                <i class="fas fa-arrow-right text-muted"></i>
                            </button>
                        </div>
                    </div>
                </form>
            }
          
        </div>
        <div class="help-block text-center">
            Please change your Password to Proceed Further.
        </div>

       
    </div>
    <script src="~/Content/resources/jquery/jquery.js"></script>
    <script src="~/Content/resources/bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>
